{% extends 'base.html' %}

{% block title %}Training Plan Generators{% endblock %}
{% block meta_description %}Choose your race and get a personalized training plan to achieve your running goals. Whether you're training for a mile, 10k, half-marathon, marathon, or ultramarathon, we have plans for every level.{% endblock %}
{% block meta_keywords %}training plan, running plan, personalized training, marathon training, half-marathon training, 10k training, ultramarathon training, beginner running plan, advanced running plan{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="header text-center mb-5 rounded">
        <h1>Training Plan Generators</h1>
        <p class="lead">Choose your race and get a personalized training plan to achieve your running goals.</p>
    </div>

    <div class="bg-light p-4 rounded mb-5">
        <div class="row">
            <!-- Base Building Training Plans -->
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card border-light h-100">
                    <div class="card-body d-flex flex-column">
                        <h3 class="card-title">Base-Building Plans</h3>
                        <p class="card-text flex-grow-1">Lay the groundwork for your next training plan.</p>
                        <a href="{% url 'base_building' %}" class="btn btn-primary mt-3 harmonized-button">Build Your Base</a>
                    </div>
                </div>
            </div>
            <!-- One Mile Training Plans -->
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card border-light h-100">
                    <div class="card-body d-flex flex-column">
                        <h3 class="card-title">One Mile</h3>
                        <p class="card-text flex-grow-1">Train to run a faster mile with our targeted plan.</p>
                        <a href="{% url 'faster_mile' %}" class="btn btn-primary mt-3 harmonized-button">Run a Faster Mile</a>
                    </div>
                </div>
            </div>
            <!-- Half-Marathon Training Plans -->
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card border-light h-100">
                    <div class="card-body d-flex flex-column">
                        <h3 class="card-title">Half-Marathon</h3>
                        <p class="card-text flex-grow-1">Train for your half-marathon with customized plans.</p>
                        <div class="mt-auto">
                            <a href="{% url 'intermediate_half_marathon' %}" class="btn btn-primary mb-2 harmonized-button">Intermediate</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Marathon Training Plans -->
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card border-light h-100">
                    <div class="card-body d-flex flex-column">
                        <h3 class="card-title">Marathon</h3>
                        <p class="card-text flex-grow-1">Prepare for your marathon with our expert plans.</p>
                        <div class="mt-auto">
                            <a href="{% url 'beginner_marathon' %}" class="btn btn-primary mb-2 harmonized-button">Beginner</a>
                            <a href="{% url 'intermediate_marathon' %}" class="btn btn-primary mb-2 harmonized-button">Intermediate</a>
                            {% comment %} <a href="{% url 'advanced_marathon' %}" class="btn btn-primary harmonized-button">Advanced</a> {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Ultramarathon Training Plans -->
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card border-light h-100">
                    <div class="card-body d-flex flex-column">
                        <h3 class="card-title">Ultramarathon</h3>
                        <p class="card-text flex-grow-1">Create your custom ultramarathon training plan for 50Ks, 50 miles, 100Ks, 100 miles, or choose your own distance.</p>
                        <div class="mt-auto">
                            <a href="{% url 'ultramarathon_plan' %}" class="btn btn-primary mb-2 harmonized-button">Run Your First Ultra</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-light p-4 rounded mb-5">
        <h2>Frequently Asked Questions</h2>
        <hr>
        <p>Answers to the most common questions about selecting the right training plan.</p>
        <h3>How to Use These Plans</h3>
        <hr>
        <p>Our training plans are designed to cater to all levels of runners. Here's how you can get the most out of them:</p>
        <ul>
            <li>Choose your race distance and the plan that fits your current fitness level.</li>
            <li>Use our <a href="/run-calculators">Run Calculators</a> to fine-tune your paces and training zones.</li>
            <li>Follow the weekly schedule, including rest days to prevent overtraining.</li>
        </ul>
        <h3>Difference Between Beginner, Intermediate, and Advanced Plans</h3>
        <hr>
        <p>Our plans are tailored to suit different levels of experience and goals:</p>
        <ul>
            <li><strong>Beginner:</strong> Focus on completing the race. Includes 3-4 days of training per week with essential mileage.</li>
            <li><strong>Intermediate:</strong> Mixes different types of workouts, including speed work and long runs, with 4-5 days of training per week.</li>
            <li><strong>Advanced:</strong> Includes goal or recent race paces, with 4-6 days of training per week, aiming to optimize performance.</li>
        </ul>
    </div>
</div>

<div class="support-note mt-5">
    <p>
        <strong>Disclaimer:</strong> The training plans provided by this tool are formulated with the best intentions and are based on standard training principles. However, there may still be slight miscalculations. Please use the plans as a guideline and adjust them according to your personal needs and conditions. If you encounter any bugs or have any questions, please send a note to <a href="mailto:alex@longruntraining.com">alex@longruntraining.com</a>, and I will address them as soon as possible.
    </p>
</div>
{% endblock %}
